# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test coverage
/cypress/screenshots
/coverage/src
/coverage/home
/coverage/Users
/coverage/base.css
/coverage/block-navigation.js
/coverage/coverage-final.json
/coverage/coverage-summary.json
/coverage/index.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/favicon.png